<div >
  <div class='container'>
    <%= form_for @list do |f| %>
      <div>
        <label for="Name"> Profile Picture: </label>
        <%= f.text_field :name, placeholder: @list.name %><br>
      </div>
      <div>
        <label for="Image">Image URL: </label>
        <%= f.text_field :image, placeholder: @list.image %>
      </div>
      <br>
      <div>  <%= f.submit "Update!", class: "btn btn-success btn  btn-signuplog" %>
      </div>
    <% end %>
  </div>
  <br>
  <div class='container'>
    <%= link_to "Update List's Categories", new_list_path(@list), class: 'btn btn-warning' %>
  </div>
</div>
