<h1>New List <%= @list.name %></h1>

  <div class='well'>
  <h2>Select Categories</h2>
  <%= form_for List.find(params[:id]) do |f| %>
    <% Category.all.each do |cat| %>
      <div><%= f.check_box :id, value: 1 %>
      <%= f.label cat.name %></div>
    <% end %>
    <%= f.submit 'Add Category to List' %>
  <% end %><br>
  <%= form_for (Category.new) do |f| %>
    <%= f.text_field :name, placeholder: "Category Name"%><br><br>
    <%= f.submit 'Create Category' %>
  <% end %>
</div>
