<% @categories.each do |c| %>
 <div>
  <div class="small-12 large-12 columns"><h3> <%= c.name %></h3></div>
   <% c.items.each do |i| %>
  <div class="small-4 large-4 columns">
     <%= i.image %>
     <p><%= i.name %></p>
     <a data-open="exampleModal1">See More</a>
   </div>
 </div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <%= form_for (@user_list_category_item = UserListCategoryItem.new) do |f| %>
  <%= f.hidden_field :user_id, :value => 1 %>
  <%= f.hidden_field :category_id, :value => c.id %>
  <%= f.hidden_field :list_id, :value => params[:id] %>
  <%= f.hidden_field :item_id, :value => i.id %>
  <%= f.submit 'Add' %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
  </button>
  <% end %>
</div>

<% end %>
<% end %>
