<div class='container' style='background-color:lightgrey'>
<%= form_for @user do |f| %>
<div>
<label for="avatar"> Profile Picture </label>
<%= f.file_field :avatar, class: "update-pic" %><br>
</div>
<div> <label>Add a Trail Name</label><br>
   <%= f.text_field :trail_name, placeholder: @user.trail_name %> </div><br>
<div>  <label>Update Experience</label><br>
  <%= f.select :experience, [['Thru Hiker'],['Lasher'],['Section Hiker'],['Weekend Warrior'],['Day Hiker']], class: "form-control inline-block center_vertical" %> </div><br>
<div>  <label>Brief Bio</label><br>
  <%= f.text_area :bio, cols: 40, rows: 10, placeholder: 'Tell us about you' %> </div>
<div>  <%= f.hidden_field :password_digest, :value => @user.password_digest %>
<div>  <%= f.submit "Update!", class: "btn btn-success btn-lg  btn-signuplog" %> </div>

<% end %>

</div>
