<div class='container'>
<%= form_for (@user = User.new) do |f| %>
<div>  <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %></div>
<div>  <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %></div>
<div>  <%= f.text_field :trail_name, class: "form-control", placeholder: "Trail Name" %></div>
<div>  <%= f.select :experience, [['Thru Hiker'],['Lasher'],['Section Hiker'],['Weekend Warrior'],['Day Hiker']], class: "form-control inline-block center_vertical" %> </div>
<div>  <%= f.select :gender, [['Female'],['Male'],['Other']], class: "form-control inline-block center_vertical" %></div>
<div>  <%= f.email_field :email, class: "form-control", placeholder: "Email" %></div>
<div>  <%= f.password_field :password, class: "form-control", placeholder: "Password" %></div>
<div>  <%= f.password_field :password, class: "form-control", placeholder: "Confirm Password" %></div>
<div>  <%= f.submit "Get Planning!", class: "btn btn-success btn-lg" %></div>

<% end %>
</div>

<style>
.form-control {
  width:60% !important;
  margin-bottom: 5px;
}
</style>
