<div class="panel callout radius">
  <div class='row'>
    <div class="col-xs-12 col-lg-4"><%= image_tag @user.avatar.url(:thumb), class: 'col-xs-12' %>
    </div>
    <div class="col-xs-12 col-lg-4" id='middle_container'>
      <!-- display name -->
      <% if @user.trail_name != "" %>
        <h1><%= @user.trail_name.capitalize %></h1>
      <% else %>
        <h1><%= @user.first_name.capitalize %></h1>
      <% end %>
      <h3><%= @user.experience %></h3>
      <h3><%= mail_to @user.email, 'Contact' %>
    </div>
    <!-- display bio and edit button -->
    <div class="col-sm-12 col-lg-4">
      <%= @user.bio %><br>
      <% if (current_user.id == @user.id) %>
        <% if (current_user.bio == nil) %>
          <%= link_to 'Add a Bio', edit_user_path(@user) %>
        <% else %>
          <%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class='container' >
  <div class="col-xs-12 col-lg-12" id='new_list'>
    <%= link_to 'Create New Gear List', lists_path, class:"btn btn-lg btn-default" %>
  </div>
</div>
  <!-- display lists -->
<% [@sql_bike,@sql_hike,@sql_canoe].each do |element| %>
  <div class='container'>
    <% if element.count > 0 %>
      <h2><%= UserListCategoryItem.find(element.first.id).list.name %> List</h2>
        <% element.each do |l| %>
          <div class='row'>
            <div class="col-xs-4 col-md-3 col-lg-2">
              <%=image_tag Item.find(l.item_id).image, id: 'itm_image', class: 'center-block' %>
              <h4 id='itm_name'><%= Item.find(l.item_id).name %></h4><br>
              <!-- modal to add comments -->
              <% if ((current_user.id).to_s == (params[:id]).to_s) %>
                  <button class="btn btn-default center-block" data-toggle="modal" data-target="#modal-<%=l.item_id%>" style='width:150px'>Comment</button>
                  <div id="modal-<%=l.item_id%>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <%= form_for (@comment = Comment.new) do |f| %>
                            <label><h3>Comment Title</h3></label><br>
                            <%= f.text_field :title, class: "form-control" %>
                            <label>Comment</label><br>
                            <%= f.text_area :body, cols: 40, rows: 10, class: "form-control" %>
                            <label>Rating (1-5)</label><br>
                            <%= f.number_field :rating, class: "form-control", id: 'rating' %>
                            <%= f.hidden_field :user_id, :value => current_user.id %>
                            <%= f.hidden_field :item_id, :value => l.item_id %>
                            <%= f.submit 'Comment', class: "btn btn-success", id: "add" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= link_to 'Remove Item', item_delete_path(l.item_id), :method => :delete, id: 'delete', class: 'center-block btn btn-danger' %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
