<div class="panel callout radius">
  <div class='row'>
    <div class="col-sm-12 col-lg-4"><%= image_tag @user.avatar.url(:thumb), class: 'col-sm-12' %>
    </div>
    <div class="col-sm-12 col-lg-4" style='text-align:center'>
      <% if @user.trail_name != "" %>
      <h1><%= @user.trail_name %></h1>
      <% else %>
      <h1><%= @user.first_name.capitalize %></h1>
      <% end %>
      <h3><%= @user.experience %></h3>
      <h3><%= mail_to @user.email, 'Contact' %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= @user.bio %><br>
      <% if (current_user.id == @user.id) %>
      <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    </div>
  </div>
</div>
<div class='row' >
  <div class="col-sm-12 col-lg-12" style='margin-top:25px'>
    <%= link_to 'Create New Gear List', lists_path, class:"btn btn-lg btn-default" %>
  </div>
</div>
<div class='container'>
  <% if @sql_bike.count > 0 %>
  <h2>Biking List</h2>
<% @sql_bike.each do |l| %>
<div class='row'>
  <div class="col-sm-4 col-lg-2">
    <%= Item.find(l.item_id).image %>
    <%= Item.find(l.item_id).name %>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
<div class='container'>
  <% if @sql_hike.count > 0 %>
  <h2>Hiking List</h2>
<% @sql_hike.each do |l| %>
<div class='row'>
  <div class="col-sm-4 col-lg-2">
    <%=image_tag Item.find(l.item_id).image, style: 'height:100px' %>
    <%= Item.find(l.item_id).name %>
    <%= link_to 'Remove Item', item_delete_path(l.item_id), :method => :delete, class: 'btn btn-danger' %>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
<div class='container'>
<% if @sql_canoe.count > 0 %>
  <h2>Canoeing List</h2>
<% @sql_canoe.each do |l| %>
<div class='row'>
  <div class="small-2 large-2 column"><%= Item.find(l.item_id).name %></div>
<% end %>
<% end %>
</div>
</div>
</div>
</div>
