<div class="col-sm-12 col-lg-12"><h3> <%= @category.name %></h3></div>
  <div class='container-fluid'>
    <button id='addbutton' class="btn btn-danger btn-md center-block" data-toggle="modal" data-target="#addmodal">Add Your Own</button>
    <div id="addmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Your Own</h4>
          </div>
          <div class="modal-body">
            <%= form_for (@item = Item.new) do |f| %>
              <label> name: </label>
              <%= f.text_field :name, class: 'inline form-control' %><br>
              <label> brand: </label>
              <%= f.text_field :brand, class: 'inline form-control' %><br>
              <label> price: </label>
              <%= f.number_field :price, class: 'inline form-control' %><br>
              <label> weight: </label>
              <%= f.number_field :weight, class: 'inline form-control' %><br>
              <label> image url: </label>
              <%= f.text_field :image, class: 'inline form-control' %><br>
              <label> size: </label>
              <%= f.number_field :size, style: 'width:29%;height:34px' %>
              <label> unit: </label>
              <%= f.text_field :unit, id: 'units' %>
              <%= f.hidden_field :category_id, :value => @category.id %>
              <%= f.hidden_field :list_id, :value => params[:id] %><br><br>
              <%= f.submit 'Add to Your Gear', class: "btn btn-success", id: "add" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% @category.items.each do |i| %>
    <!-- renders each image -->
    <div class="col-sm-12 col-lg-4" id="thumbnail_container">
      <%= image_tag i.image, class: 'center-block', id: 'thumbnail'%>
      <h3 style='text-align:center'><%= i.name %></h3>
      <% if current_user %>
      <%= form_for (@user_list_category_item = UserListCategoryItem.new) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :category_id, :value => @category.id %>
        <%= f.hidden_field :list_id, :value => params[:id] %>
        <%= f.hidden_field :item_id, :value => i.id %>
        <%= f.submit 'Add to Gear', class: "btn btn-success btn-sm center-block" %>
      <% end %>
      <button class="btn btn-info btn-md center-block" data-toggle="modal" data-target="#modal-<%=i.id%>">See More</button>
    </div>
           <!-- item modal -->
    <div id="modal-<%=i.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= i.brand %> <%= i.name %></h4>
          </div>
          <div class="modal-body">
            <%= image_tag i.image, style: 'height:200px;'%><br>
            <h3><%= i.brand %> <%= i.name %></h3>
            <h4><%= i.size %> <%= i.unit %></h4>
            <h4><%= i.weight %> pounds</h4> <h4>$<%= i.price %></h4>
            <!-- add button -->

              <%= form_for (@user_list_category_item = UserListCategoryItem.new) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :category_id, :value => @category.id %>
                <%= f.hidden_field :list_id, :value => params[:id] %>
                <%= f.hidden_field :item_id, :value => i.id %>
                <%= f.submit 'Add to Gear', class: "btn btn-success", id: "add" %>
              <% end %>
              <% end %>
            <!-- skip button -->
              <% if @list.is_finished(params[:category_id]) %>
                <%= link_to 'Skip', user_path(current_user), class: "btn btn-danger" %>
              <% else %>
                <%= link_to 'Skip', category_path(List.find(params[:id]), @list.next(params[:category_id])), class: "btn btn-warning" %>
              <% end %>
            <!-- comments -->
            <div>
              <% i.comments.each do |com| %>
                <h4><%= com.title %> <%= com.rating %> stars</h4>
                <h6><%= link_to com.user.first_name, user_path(com.user) %>: <%= com.user.experience %></h6>
                <p><%= com.body %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if current_user %>
  <div id='info'>
    <span><h3>$ <%= @price %> <image id='bag' src='https://d30y9cdsu7xlg0.cloudfront.net/png/77371-200.png'></h3></span>
    <h3><%= @weight %> pounds</h3>
  </div>
<% end %>
